<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Energy app</title>
    <meta name="description" content="Energy usage tracking app">
    <script type="module" crossorigin src="/assets/index-DfC1eJ_F.js"></script>
    <link rel="stylesheet" crossorigin href="/assets/index-BsaePOdd.css">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
